.container
  .jumbotron
    .row
      .col-xs-6.col-sm-10.text-left
        h1 Protractor screeenshot reporter
      .col-xs-6.col-sm-2
        img.img-responsive(src='assets/logo.svg' title='logo created by Vectors Market from the Noun Project')
    p 
      span.pull-left Total tests 
        strong {{main.data.tests.length}}
      span.pull-right 
        i.fa.fa-clock-o
        |   
        span Generated on 
        strong {{main.data.generatedOn | date:'medium'}}
  .row
    .col-md-12
      h4 Filtering
    .col-md-10.col-sm-12
      .btn-toolbar
        .btn-group
          label.btn.btn-primary(ng-model="main.filtering.show" uib-btn-radio="") 
            i.fa.fa-bars
            |  
            span All

        .btn-group  
          label.btn.btn-success(ng-model="main.filtering.show" uib-btn-radio="'passed'") 
            i.fa.fa-check
            |  
            span Passed ({{main.data.stat.passed}})

          label.btn.btn-danger(ng-model="main.filtering.show" uib-btn-radio="'failed'")
            i.fa.fa-close
            |   
            span Failed ({{main.data.stat.failed}})


          label.btn.btn-info(ng-model="main.filtering.show" uib-btn-radio="'pending'") 
            i.fa.fa-pencil
            |   
            span Pending ({{main.data.stat.pending}})

          label.btn.btn-default(ng-model="main.filtering.show" uib-btn-radio="'disabled'") 
            i.fa.fa-ban
            |   
            span Disabled ({{main.data.stat.disabled}})

    .col-md-2.col-sm-12
      .pull-right 
        span Showing
        |   
        strong {{filtered.length}}
        |   
        span {{main.filtering.show}}
    .col-md-12
      p
        .btn-toolbar
          .btn-group
            label.btn.btn-sm.btn-info(ng-model="main.filtering.expand" uib-btn-checkbox) 
              i.fa(ng-class='main.filtering.expand ? "fa-toggle-on" : "fa-toggle-off"')
              |  
              span Expand all


          .btn-group
            label.btn.btn-sm.btn-primary(ng-model="main.filtering.showScreenshots" uib-btn-checkbox) 
              i.fa(ng-class='main.filtering.showScreenshots ? "fa-toggle-on" : "fa-toggle-off"')
              |  
              span Show screenshots

            label.btn.btn-sm.btn-success(ng-model="main.filtering.showPassed" uib-btn-checkbox) 
              i.fa(ng-class='main.filtering.showPassed ? "fa-toggle-on" : "fa-toggle-off"')
              |  
              span Show passed expectations

            label.btn.btn-sm.btn-danger(ng-model="main.filtering.showFailed" uib-btn-checkbox) 
              i.fa(ng-class='main.filtering.showFailed ? "fa-toggle-on" : "fa-toggle-off"')
              |  
              span Show failed expectations 

          .btn-group
            label.btn.btn-sm.btn-default(ng-model="main.filtering.showSpecScreenshots" uib-btn-checkbox) 
              i.fa(ng-class='main.filtering.showSpecScreenshots ? "fa-toggle-on" : "fa-toggle-off"')
              |  
              span Show after spec done screenshots
      p
        hr
      p
        .btn-toolbar
          .btn-group
            label.btn.btn-xs.btn-warning(ng-model="main.filtering.showStack" uib-btn-checkbox) 
              i.fa(ng-class='main.filtering.showStack ? "fa-toggle-on" : "fa-toggle-off"')
              |  
              span Show protractor stack 

            label.btn.btn-xs.btn-default(ng-model="main.filtering.showLogs" uib-btn-checkbox) 
              i.fa(ng-class='main.filtering.showLogs ? "fa-toggle-on" : "fa-toggle-off"')
              |  
              span Show browsers logs
          .btn-group
            label.btn.btn-xs.btn-success(ng-model="main.filtering.logFilter"  ng-disabled='!main.filtering.showLogs' uib-btn-radio="")  
              span All
          .btn-group
            label.btn.btn-xs.btn-default(ng-model="main.filtering.logFilter" ng-disabled='!main.filtering.showLogs' uib-btn-radio="'DEBUG'")  
              span Debug

            label.btn.btn-xs.btn-info(ng-model="main.filtering.logFilter" ng-disabled='!main.filtering.showLogs' uib-btn-radio="'INFO'")  
              span Info

            label.btn.btn-xs.btn-warning(ng-model="main.filtering.logFilter" ng-disabled='!main.filtering.showLogs' uib-btn-radio="'WARN'")  
              span Warning

            label.btn.btn-xs.btn-danger(ng-model="main.filtering.logFilter" ng-disabled='!main.filtering.showLogs' uib-btn-radio="'SEVERE'")  
              span Severe

            label.btn.btn-xs.btn-danger(ng-model="main.filtering.logFilter" ng-disabled='!main.filtering.showLogs' uib-btn-radio="'ERROR'")  
              span Error
      p
        hr

    .col-md-12(ng-repeat='t in main.data.tests | filter:{status:main.filtering.show} as filtered')
      spec(test='t' filtering='main.filtering')
